tags:
  discounts-green: false
  products-green: false
  discountsNetworkingOffline: false
  productsNetworkingOffline: false

global:
  namespace: test
  #needed for rollouts analysis
  prometheusAddress: https://prometheus-user-workload.openshift-user-workload-monitoring.svc.cluster.local:9091

discounts-blue:
  mode: online
  quarkus-base:
    fullnameOverride: "discounts"
    image:
      tag: v1.0.1
    version: none
    rollouts:
      enabled: true
      analysis:
        web: true
        service: "discounts-umbrella-online"
      canary:
        steps:
          - setWeight: 50
          - pause:
              duration: 1m
  fullnameOverride: "discounts"
    
products-blue:
  mode: online
  quarkus-base:
    image:
      tag: v1.0.1
    version: none
    replicaCount: 4
    fullnameOverride: "products"
    rollouts:
      enabled: true
      analysis:
        web: true
        service: "products-umbrella-online"
      canary:
        steps:
          - setWeight: 10
          - pause:
              duration: 30s
          - setWeight: 50
          - pause:
              duration: 30s
  fullnameOverride: "products"








