apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-configuration
  namespace: openshift-gitops
spec:
  destination:
    name: ''
    namespace: openshift-gitops
    server: 'https://kubernetes.default.svc'
  source:
    path: gitops/cluster-config
    repoURL: 'https://github.com/davidseve/cloud-native-deployment-strategies.git'
    targetRevision: namespace_values
    helm:
     parameters:
      - name: "github.token"
        value: "changeme_token"
      - name: "github.user"
        value: "changeme_user"
      - name: "github.mail"
        value: "changeme_mail"
      - name: "github.repository"
        value: "changeme_repository"
      - name: "namespace"
        value: "testdemo"
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false