apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: shop
  namespace: openshift-gitops
spec:
  destination:
    name: ''
    namespace: gitops
    server: 'https://kubernetes.default.svc'
  source:
    path: helm/quarkus-helm-umbrella/chart
    repoURL:  https://github.com/change_me/cloud-native-deployment-strategies.git
    targetRevision: rollouts-mesh
    helm:
      parameters:
      - name: "global.namespace"
        value: gitops
      - name: "domain"
        value: "change_domain"
      valueFiles:
        - values/values-canary-rollouts-mesh.yaml
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false